@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

@font-face {
  font-family: 'Debug';
  src: url('./fonts/debug.ttf') format('truetype');
}

* {
  -webkit-tap-highlight-color: transparent;
}

.heading {
  font-family: 'Debug', sans-serif !important;
}

.sub-heading {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800;
}

.buyorsell-card {
  background: rgba( 122, 106, 195, 0.4 );
  backdrop-filter: blur( 13px );
  -webkit-backdrop-filter: blur( 13px );
  border-radius: 10px;
}

/*error toast*/
.css-117s6mu {
  color: rgb(231, 206, 255) !important;
  background-color: rgb(69, 47, 69) !important;
}

/*success toast*/
.css-i20fwt {
  color: rgb(231, 206, 255) !important;
  background-color: rgb(127, 69, 127) !important;
}